

/* styles.css */
body {
  margin: 0;
  padding: 0;
}

/* The sidebar menu */
.sidebar {
  font-family: Klee, serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A9B0C1;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  margin-left: 50px;
}

.open-button {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  border-radius: 20px;
  color: white;
  padding: 10px 15px;
  border: none;
}

.open-button:hover {
  background-color: #444;
}

#main {
  font-family: Klee, serif;
  transition: margin-left .4s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.My-Stuff {
  white-space: nowrap;
  font-size: 30px;
  margin: 20px 70px 20px 10px;
  background-color: #D9D9D9;
  border-radius: 30px;
  border: 3px solid #b6b6b6;
  box-shadow: 9px 6px 4px #6e588f;
  font-family: Klee, serif;
}

.Account-name {
  padding-left: 40px;
  flex: 1;
  font-size: 17px;
}

.Account-pic {
  padding-right: 40px;
  flex: 2;
}

.Account-columns {
  display: flex;
  align-items: center;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.first-column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.second-column {
  flex: 2;
  padding: 20px;
  box-sizing: border-box;
}

.highlighted {
  background-color: yellow;
}


/* Calendar Customization */

.fc-header-toolbar .fc-button {
  background-color: #8ea0c9;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 2px 2px;
  cursor: pointer;
}

/* Change button style on hover */
.fc-header-toolbar .fc-button:hover {
  background-color: #8298cb;
}

.fc-header-toolbar .fc-toolbar-title {
  font-size: 18px;
}

.fc .fc-popover {
  background-color: #8298cb !important; /* Set the background color to grey */
  color: white; /* Set the text color to white */
}

/* Custom prompt modal */
.custom-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8298cb; /* Set the background color to red */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.custom-prompt input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.custom-prompt button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}


/*Custom Edit Prompt model*/
.custom-edit-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8298cb; /* Set the background color to red */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.custom-edit-prompt input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.custom-edit-prompt button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

/* DARK MODE */

/* Dark mode styles */

.light {
  background-color: #d3d3d3;
}

.dark {
  background-color: black;
  color: white;
}

/* Inverted colors for dark mode */
.dark #mySidebar {
  background-color: #333;
}

.dark #mySidebar a {
  color: white;
}

.dark #main {
  background-color: #222;
}

.dark .open-button {
  background-color: #333;
  color: white;
}

.dark .columns {
  background-color: #222;
}

.dark #eventNameInput, body.dark #confirmButton, body.dark #cancelButton {
  background-color: #333;
  color: white;
}

.dark #My-Stuff {
  color: white;
  background-color: #222222;
}

.dark-mode-button {
  padding: 6px;
  margin: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border-color: #6e588f;
  font-size: 10px;
}

/*LOGIN PAGE*/

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}